@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(45deg,
            #9b34ef 0%,
            #490cb0 20%,
            transparent 50%);
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(90deg,
            #5516ba,
            rgba(255, 0, 229, 0.5) 80%);
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
}


/* Custom Scroll */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-size: 300% 300%;
    background-color: var(--primary-color);
    color: var(--text-color);

}


/* NAV */

nav {
    width: 100%;
    height: 3.5rem;
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav img {
    width: 10rem;
    padding: 12px;
}

.nav-btn {
    margin: 0px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.nav-btn a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 2px;
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    background: none;
    text-transform: uppercase;
    border-radius: 20px;
    text-decoration: none;
    color: var(--btn-link-bg-color);
}

#signup {
    width: 160px;
    background: var(--tertiary-color);
}

#signup:hover {
    background-color: var(--btn-link-bg-color);
    color: var(--btn-link-color);
    transition: background 1s, color 1s;
}

/* HEADER */


.header {
    position: relative;
    margin-top: 50px;
    padding: 100px 0 300px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradiente 10s ease infinite alternate;
}

.header::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    color: #fff;
    font-family: Raleway, sans-serif;
    text-align: center;
    padding-top: 50px;


}

.intro img {
    margin: 0px 10px;
}

.intro-text {
    margin-top: 50px;
    font-size: 2rem;
}

.intro-text p {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.intro-text p:nth-child(2) {
    font-size: 3rem;
    font-weight: 600;
}

#divider {
    width: 50vw;
    height: 5px;
    background: var(--divider-bg-color);
    margin: 30px;
}

.offer-price {
    font-family: Quicksand, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

.offer-price p {
    margin: 10px 0px;
}


.offer-price p:nth-child(2) {

    font-family: Raleway, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
}

.offer-sign {
    width: 250px;
}

.sign-btn {
    margin: 30px 0px;
    padding: 16px 40px;
    border-radius: 500px;
    border: none;
    cursor: pointer;
    background: var(--btn-bg-color-gradient);
    outline: 3px solid transparent;
    transition: background 1s, outline 1s, transform 1s;
    background-size: 250%;
    animation: wiggle 2.2s linear infinite;

}

.sign-btn a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 8px 5px;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;

}

.sign-btn:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
}



.offer-info {
    font-family: Quicksand, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}


.brands {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* MAIN */

.subscription {
    background-image: url("../images/background-movies-series.png") no-repeat;
    background-size: cover;
    position: relative;
}


section {
    scroll-margin-top: 80px;
}

/* PLANS */

.subscription-container {
    max-width: 100%;
    margin: auto;
    padding: 24px;
    text-align: center;

}

.plans-conteiner {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin: 40px 0;
}

.plans {
    color: #fff;
    display: flex;
    flex-direction: column;

}


.title {
    margin-bottom: 40px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.plans-cards-conteiner {
    font-family: Raleway, sans-serif;
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin: 40px 0;
    min-height: 600px;
}

.plans-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--card-bg-color);
    padding: 40px 60px;
    border-radius: 8px;
    min-height: 600px;
    max-width: 600px;
    transition: transform 1s ease-in-out;

}

.plans-title {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
}

.plans-title h3 {
    font-size: 1.5rem;
}

.plans-title p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.plans-title span {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.plans-btn {
    max-width: 435px;
    margin: 30px 0px;
    padding: 16px 40px;
    border-radius: 500px;
    border: none;
    cursor: pointer;
    background: var(--btn-bg-color-gradient);
    outline: 3px solid transparent;
    transition: background 1s, outline 1s, transform 1s;
    background-size: 250%;
    text-align: center;
    align-self: center;

}

.plans-btn a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 8px 5px;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
}

.plans-btn:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
}

.plans-details {
    margin-left: -15px;
}

.plans-details li {
    font-size: 1.3rem;
    list-style-type: none;
    margin-bottom: 20px;
    text-align: left;

}

.plans-details li::before {
    content: "\00271A";
    font-size: 14px;
    position: relative;
    top: -3px;
    left: -11px;
}


.plans-conteiner {

    perspective: 2000px;
    perspective-origin: top;
}

#plan-card-1 {
    transition: transform 1s ease-in-out;
}

#plan-card-2 {
    transition: transform 1s
}

#plan-card-1:hover+#plan-card-2 {
    transform: rotatey(-45deg);
}


.plans-conteiner:has(.plans-cards-conteiner:nth-child(2):hover) .plans-cards-conteiner:nth-child(1) {
    transform: rotateY(45deg);
}



/* CARDS */

.discover {
    margin: 100px auto;

}

.card-conteiner {
    max-width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
}

.card {
    width: 325px;
    height: 488px;
    background-size: cover;

}

.card:hover {
    border-radius: 8px;
    border: 2px solid var(--card-bg-color);
}

#card-1 {
    background-image: url(../images/hbo-default_0.webp);
    transition: background-image 0.8s ease-in-out, opacity 0.8s ease-in-out, transform 0.8s ease-in-out;

}

#card-1:hover {
    background-image: url(../images/hbo-hover_0.webp);
    transform: scale(1.09);

}


#card-2 {
    background-image: url(../images/MAX-Default.webp);
    transition: background-image 0.8s ease-in-out, opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

#card-2:hover {
    background-image: url(../images/MAX-Hover.webp);
    transform: scale(1.09);
}

#card-3 {
    background-image: url(../images/DC_Default.webp);
    transition: background-image 0.8s ease-in-out, opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

#card-3:hover {
    background-image: url(../images/DC-Hover.webp);
    transform: scale(1.09);
}

#card-4 {
    background-image: url(../images/WB-Default.webp);
    transition: background-image 0.8s ease-in-out, opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

#card-4:hover {
    background-image: url(../images/WB-Hover.webp);
    transform: scale(1.09);
}

#card-5 {
    background-image: url(../images/CN-Default.webp);
    transition: background-image 0.8s ease-in-out, opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

#card-5:hover {
    background-image: url(../images/CN-Hover.png);
    transform: scale(1.09);
}

#card-6 {
    background-image: url(../images/UCL-Default.webp);
    transition: background-image 0.8s ease-in-out, opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

#card-6:hover {
    background-image: url(../images/UCL-Hover.webp);
    transform: scale(1.09);
}



/* FOOTER */


.footer-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;

}

.footer-links a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: 2px;
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    background: none;
    text-transform: uppercase;
    border-radius: 20px;
    text-decoration: none;
    color: var(--link-color);
}

footer p {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--link-color);
}

.footer-logos {
    padding-top: 80px;
    display: flex;
    align-items: center;
    gap: 30px;

}

.footer-logos a {
    text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width: 550px) {
    nav {
        display: flex;
        flex-direction: column;
        height: 7.5rem;
        padding: 20px 0px;
    }
}

@media screen and (max-width: 800px) {
    .card-conteiner {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .plans-cards-conteiner:has(.plans-cards:nth-child(1):hover) .plans-cards:nth-child(2),
    .plans-cards-conteiner:has(.plans-cards:nth-child(2):hover) .plans-cards:nth-child(1) {
        transform: none;
    }

    #plan-card-1:hover+#plan-card-2 {
        transform: none;
    }

    .plans-conteiner:has(.plans-cards-conteiner:nth-child(2):hover) .plans-cards-conteiner:nth-child(1) {
        transform: none;
    }
}

@media screen and (max-width: 480px) {
    .card-conteiner {
        grid-template-columns: repeat(6, 100%);
        grid-auto-flow: column;
        overflow: auto hidden;
    }
}

@media screen and (max-width: 1140px) {
    .plans-cards-conteiner {
        max-width: 600px;
    }
}

@media screen and (max-width: 1140px) {
    .plans-conteiner {
        flex-direction: column;
        align-items: center;
    }

    .plans-cards-conteiner {
        max-width: 600px;
    }
}

@media screen and (max-width: 480px) {
    .plans-cards {
        max-width: 90%;
        padding: 20px 10px;
    }
}

@media (pointer: coarse) {

    .plans-cards:hover {
        transform: none;
    }

    .plans-cards-conteiner:has(.plans-cards:nth-child(1):hover) .plans-cards:nth-child(2),
    .plans-cards-conteiner:has(.plans-cards:nth-child(2):hover) .plans-cards:nth-child(1) {
        transform: none;
    }

    #plan-card-1:hover+#plan-card-2 {
        transform: none;
    }
    
    .plans-conteiner:has(.plans-cards-conteiner:nth-child(2):hover) .plans-cards-conteiner:nth-child(1) {
        transform: none;
    }
}


@media screen and (max-width: 1200px) {
    .card-conteiner {
        gap: 32px;
    }
}

/* KEY FRAMES */

@keyframes gradiente {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

@keyframes wiggle {

    0%,
    10% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(-15deg);
    }

    20% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    35% {
        transform: rotate(-10deg);
    }

    40%,
    100% {
        transform: rotate(0);
    }
}

