@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

body {
    margin: 0;
    padding: 0;
    background: rgb(15, 0, 51);
}

/* HEADER */

nav {
    width: 100vw;
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 10rem;
    padding: 12px;
}

.container-button {
    margin: 0px 50px;
    display: flex;
    text-align: center;
}

.container-button a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 2px;
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    background: none;
    text-transform: uppercase;
    border-radius: 20px;
    
}

.container-button a {
    text-decoration: none;
    color: white;

}


#signup {
    width: 140px;
    background: #B535F6;
}

#signup:hover {
    background-color: white;
    color: black;
    transition: background 1s, color 1s;
}

@media (max-width: 550px){
    nav {
        display: flex;
        flex-direction: column;
        height: 5.5rem;
        padding: 20px 0px;
    }
}


/* MAIN */

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
