@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
  }

    /* Custom Scroll */

    ::-webkit-scrollbar {
        width: 8px;
      }
    
      ::-webkit-scrollbar-thumb {
        background: var(--tertiary-color);
        border-radius: 10px;
      }
    
      ::-webkit-scrollbar-thumb:hover {
        background: var(--secondary-color);
      }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, var(--primary-color),rgb(53, 2, 59));
    background-size: 300% 300%;
    animation: gradiente 4s ease infinite alternate;
}


/* HEADER */

header {    
    margin-bottom: 150px;
}

nav {
    width: 100vw;
    height: 3.5rem;
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

nav img {
    width: 10rem;
    padding: 12px;
}

.nav-btn {
    margin: 0px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.nav-btn a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 2px;
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    background: none;
    text-transform: uppercase;
    border-radius: 20px;    
}


.nav-btn a {
    text-decoration: none;
    color: var(--btn-link-bg-color);
}


#signup {
    width: 160px;
    background: var(--tertiary-color);
}

#signup:hover {
    background-color: var(--btn-link-bg-color);
    color: var(--btn-link-color);
    transition: background 1s, color 1s;
}

@media (max-width: 550px){
    nav {
        display: flex;
        flex-direction: column;
        height: 7.5rem;
        padding: 20px 0px;
    }
}


/* MAIN */



.intro {
    width: 100vw;
    height: 500px;
    margin: 70px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;    
    font-family: Raleway, sans-serif;    
    text-align: center;
    
    
}

.intro img {
    margin: 0px 10px;
}

.intro-text {
    margin-top: 50px;    
    font-size: 2rem;
}

.intro-text p {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.intro-text p:nth-child(2) {
    font-size: 3rem;
    font-weight: 600;
}

#divider {
    width: 50vw;
    height: 5px;
    background: var(--divider-bg-color);
    margin: 30px;
}

.offer-price {
    font-family: Quicksand, sans-serif;
    font-size: 1.25rem;    
    font-weight: 400;
}

.offer-price p {
    margin: 10px 0px;
}


.offer-price p:nth-child(2) {
    
    font-family: Raleway, sans-serif;   
    font-size: 2.5rem;
    font-weight: 600;
}

#per-month {
    
    font-family: Quicksand, sans-serif;
    font-size: 1.25rem;
    
    font-weight: 400;
}


.brands {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@keyframes gradiente {
    0% {
        background-position: 0% 50%;
    }    
    50% {
        background-position: 100% 50%;
    }     
    100% {
        background-position: 0% 50%;
    }
      
}

